*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
    z-index: -1;
    filter: blur(5px);
    position: fixed;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 5;
}
a:hover{
    color: #ffc404;
}

nav .logo{
    width: 80px;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
}
.container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #ffc404;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .logo img{    
      width: 90px;
      height: 90px;
      position: fixed;
      top: 15px;
      left: 20px;
  
  }
  .cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #16003B;
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }


@media screen and (max-width:1424px) {
    nav ul li a{
        width: 50%;
    }
    .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}

@media screen and (max-width:884px) {
    nav{
        z-index: 5;
    }
    nav .logo{
        width: 50px;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 7.3vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 4;
    }
    .nav-links li{
        height: 13vh;
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .main-card .cards .card{
        width: 80%;
        margin-left: 10%;
      }







    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50%);
        }
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}
